@import url(main.css);
@import url(header.css);
@import url(footer.css);

#hero-image {
    background-image: url('../images/jajangmyeon-noodles.jpg');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title > h1 {
    font-size: 2.5em;
    color: #FFFFFF;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 20px;
    text-indent: 3%;
    color: #808080;
    margin: 5%;
}

#content > div > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #ffa64d;
    padding: 7px;
}