html {
    font: 16px/1.5 "Century Gothic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Website header settings */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}

/* Logo settings */
.site-logo a img {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}

/* Navigation bar settings */
.menu {
    padding: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.login a {
    background-color: #ffa64d;
    border-radius: 15px;
    padding: 10px 15px;
}

/* Current page settings */
.current-page {
    text-decoration: underline;
    text-underline-offset: 5px;
}
