html {
    font: 16px/1.5 "Century Gothic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Navigation bar settings */
.menu {
    background-color: #000000;
    padding: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}