html {
    font: 16px/1.5 "Century Gothic", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Website header settings */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}

/* Logo settings */
.site-logo a img {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
}

/* Navigation bar settings */
.menu {
    padding: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.login a {
    background-color: #ffa64d;
    border-radius: 15px;
    padding: 10px 15px;
}

/* Current page settings */
.current-page {
    text-decoration: underline;
    text-underline-offset: 5px;
}

i {
    color: #ffffff;
}

.hero-image {
    background-image: url('https://img.freepik.com/free-photo/stir-frying-beef-with-sweet-peppers-green-beans-rice_2829-20132.jpg?w=1380&t=st=1655276935~exp=1655277535~hmac=e012edab44bbc3802628b86ec2446a348d223693bdfd444c7fce23753c8d3009');
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-text {
    margin-left: 3em;
    width: 42%;
    color: #ffffff;
}

.banner-text p {
    margin: 15px 0 40px;
}

.menu-btn {
    background-color: #ffa64d;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
}

.menu-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.main-div {
    margin: 60px;
    display: flex;
    justify-content: space-around;
}

.main-div div {
    width: 25%;
    text-align: center;
}