@import url(main-settings.css);

.main-div {
    background-image: url('https://img.freepik.com/free-photo/tasty-asian-noodles-with-cheese-tofu-vegetables-bowls_1220-5312.jpg?w=996&t=st=1660127389~exp=1660127989~hmac=92c5457416556525d98086cddaf682459973c35aca7f9074fc6d1b6b47082c33');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo > a > img {
    width: 300px;
    height: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 40px 70px;
    gap: 30px;
    box-shadow: 0 0 100px #000000;
    max-width: 35%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.links > a {
    text-decoration: none;
    color: #808080;
}

.not-active {
    border-bottom: 2px solid #ffa64d;
}

.input-fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-fields > p {
    color: #41424C;
}

.input-fields > p > a {
    text-decoration: none;
    color: #ffa64d;
    font-weight: bold;
}

.input-fields > input {
    border: 1px solid #41424C;
    border-radius: 30px;
    padding: 13px;
}

.checkbox-fields {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: #41424C;
    font-size: 0.7rem;
    text-align: left;
}

.checkbox-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.checkbox-div > input[type=checkbox] {
    accent-color: #ffa64d;
    padding-right: 5px;
}

.checkbox-div > label > a {
    color: #ffa64d;
}

.input-fields > button {
    background-color: #ffa64d;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 30px;
    box-shadow: 0 0 8px #808080;
    cursor: pointer;
}

.forgotten-password {
    text-decoration: none;
    color: #ffa64d;
    font-size: 0.9rem;
}

@media(max-width:768px) {

    .main-div {
        flex-direction: column;
    }

    .logo > a > img {
        width: 210px;
        height: 70px;
    }

    .form {
        max-width: 70%;
    }
}