@import url(main-settings.css);

.background {
    background-image: url('https://img.freepik.com/free-photo/kimchi-cabbage-bowl_2829-18652.jpg?t=st=1658740808~exp=1658741408~hmac=28ae78ad1049c982c8460df2c63ac2ec97a7c6e3ee16090de48069610c3c38ff&w=996');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo > a > img {
    width: 300px;
    height: 100px;
}