@import url(main-settings.css);
@import url(header-style.css);
@import url(footer-style.css);

.hero-image {
    background-image: url('https://img.freepik.com/free-photo/delicious-seafood-noodles-copy-space_23-2148249229.jpg?w=996&t=st=1663077218~exp=1663077818~hmac=6ea1b750c63ad8ac7d33fd16a36cfc596a03239d6b11eec72f150b5c65431b54');
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-text {
    margin-left: 70px;
}

.banner-text > h1 {
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
}

.banner-text > p {
    font-size: 1.2em;
    color: #ffffff;
}

.menu-dishes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.dish {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
}

.dish > h3 {
    margin: 10px 0;
}

.dish > img {
    width: 400px;
    height: 250px;
    margin-bottom: 15px;
}

.weight-and-allergens {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.allergens {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.allergens > span {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.allergens > span > i {
    color: #000000;
}

.egg {
    background-color: #FFD900;
}

.seafood {
    background-color: #77B5FE;
}

.sesame {
    background-color: #C49F79;
}

.soy {
    background-color: #2CAE1E;
}

.hot-pepper {
    background-color: #E10600;
}

.price-and-order {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 20px 0;
    /* margin-top: 30px; */
    /* margin-bottom: 15px; */
}

.price-and-order > p {
    font-size: 1.5em;
    font-weight: bold;
}

.price-and-order > button {
    background-color: #ffa64d;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 15px;
    padding: 5px 10px;
}