@import url(main-settings.css);
@import url(header-style.css);
@import url(footer-style.css);

.hero-image {
    background-image: url('https://img.freepik.com/free-photo/delicious-asian-noodles-concept_23-2148773772.jpg?w=1380&t=st=1665485462~exp=1665486062~hmac=f94a22b01b6ff87edec4cdc1895aec0cd4a12650d9b17cb9f34a80a04265486c');
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    text-align: center;
}

.banner-text > h1 {
    color: #ffffff;
    text-transform: uppercase;
}

.banner-text > p {
    color: #ffffff;
}

.menu-dishes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.row-dishes {
    background-color: #000000;
    color: #ffffff;
    margin: 50px;
    border-radius: 20px;
}

.row-dishes > div > h3 {
    margin: 10px 0;
    text-align: center;
}

.row-dishes > div > img {
    width: 400px;
    height: 250px;
    margin-bottom: 15px;
}

.dish-info {
    text-align: center;
}

.row-dishes > div > p {
    text-align: center;
}

.price-and-order {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 15px;
}

.weight-and-allergens {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.allergens {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.allergens > span {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    /* background-color: #FFD900; */
}

.allergens > span > i {
    color: #000000;
}

.egg {
    background-color: #FFD900;
}

.sesame {
    background-color: #C49F79;
}