@import url(main.css);
@import url(header.css);
@import url(footer.css);

#main {
    background-image: url('../images/delicious-asian-noodles.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#reservation-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 40px 70px;
    gap: 30px;
    box-shadow: 0 0 100px #000000;
    width: 40%;
}

#reservation-form > h1 {
    color: #ffa64d;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid #41424C;
    border-radius: 30px;
    padding: 13px;
}

#personal-name > input {
    width: 100%;
}

#contacts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#telephone-number,
#email-address {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#date-and-time {
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#text {
    display: flex;
    flex-direction: column;
}

#text > textarea {
    border: 1px solid #41424C;
    border-radius: 7px;
    margin-top: 5px;
    padding: 7px;
}

#extra-info {
    text-align: center;
}

#extra-info > p {
    font-size: small;
    text-align: center;
    font-style: italic;
    color: #555555;
}

#extra-info > input {
    background-color: #ffa64d;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    padding: 10px;
} 

@media(max-width:768px) {

    #reservation-form {
        width: 80%;
        padding: 20px 40px;
        gap: 10px;
        box-shadow: none;
    }

    #reservation-form > h1 {
        font-size: 1.4em;
        padding-bottom: 4px;
    }

    #contacts,
    #date-and-time {
        flex-direction: column;
    }

    #extra-info > input {
        margin-top: 8px;
    }
}